{% load i18n %}
{% load flatpages %}
{% get_flatpages as flatpages %}

<header class="my-4">
    <nav class="navbar" role="navigation">
        <div class="container">
            <div class="navbar-brand">
                <a href="{% url 'home' %}" class="navbar-item">
                    <span class="has-text-weight-bold is-uppercase is-family-monospace is-size-3">Turbo Sales</span>
                </a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item"
                       href="{% url "home" %}">{% trans "Home" %}</a>
                    <a class="navbar-item"
                       href="{% url "blog_index" %}">{% trans "Blog" %}</a>
                    <a class="navbar-item"
                       href="{% url "our-team" %}">{% trans "Our Team" %}</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a href="#" class="navbar-link">More pages</a>
                        <div class="navbar-dropdown is-boxed">
                            {% for page in flatpages %}
                                <a class="navbar-item"
                                   href="{{ page.url }}">{{ page.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a href="{% url "admin:index" %}" target="_blank"
                               class="button is-primary">Admin Portal</a>
                        </div>
                    </div>

                    {% load i18n %}

                    <form action="{% url 'set_language' %}"
                          class="mt-3"
                          method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <div class="select">
                            <select name="language">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"
                                            {% if language.code == LANGUAGE_CODE %}
                                            selected{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="submit" value="Go" class="button is-info">
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>
