{% extends "base.html" %}

{% block title %}Our Team{% endblock %}

{% block content %}
    <div>
        <dl>
            {% for employee in object_list %}
                <dt>
                    <strong>{{ employee.name }}</strong>
                </dt>
                <dd>
                    {% if employee.photo.name %}
                        <p><img src="{{ employee.photo_300x200.url }}" alt="{{ employee.name }}" data-src="{{ employee.photo.url }}" /></p>
                    {% endif %}
                    <p><em>{{ employee.position }}</em></p>
                    <p>{{ employee.description }}</p>
                </dd>
            {% endfor %}
        </dl>
    </div>
{% endblock %}